:root {
    --main-color: #5ea3d0;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7db;
    --send-message-form: #F5F5F5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: #3e5869;
}

#root {
    height: 100%;
}

.app {
    display: grid;
    height: 100%;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "n s s s s s";
}

.new-room-form {
    grid-area: n;
}

.rooms-list {
    grid-area: r;
}

.message-list {
    grid-area: m;
}

.send-message-form {
    grid-area: s;
}
/* Rest of css */
.room-list {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}

.room-list ul {
    list-style-type: none;
    padding: 0;
    overflow: scroll;
}

.room-list li {
    margin: 10px 0;
}

.room-list h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.room-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
}

.room-list .room.active a {
    color: var(--secondary-color);
}

.new-room-form {
    padding: 0 5px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
}




